<h1>HELLO PETIT PADAWAN!</h1>

<p>Entrez votre adresse E-mail et suivez le lien pour modifier votre mot de passe</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Bienvenue!</p>
