/* POLICES */

@font-face {
    font-family: 'Courgette';
    src: url(../../polices/Courgette-Regular.ttf);
}

/* GÉNÉRAL */

html, body {
    background-color: hsl(40, 51%, 82% ) !important;
}

html a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 95%);
}

html a:hover {
    color: hsla(0, 0%, 100%, 95%);
}

.ligne {
    display: flex;
}

.ecartee {
    justify-content: space-between;
}

/* EN-TÊTE */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 33;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: hsl(123, 67%, 20%);
    border-radius: 0 0 7px 7px;

    padding: 10px 7%;
}

header h1 {
    color: hsla(0, 0%, 100%, 95%);
    font-family: 'Courgette', serif;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: hsl(123, 41%, 29%);
    border-radius: 10px;
}

header a {
    display: block;

    color: hsla(73, 47%, 82%, 95%);
    white-space: nowrap;

    margin: 10px;
}

header a:hover {
    color: hsla(74, 76%, 56%, 95%);
}

/* SECTIONS */

section {
    padding: 25px 7%;

    overflow-x: scroll;
}

section > * {
    margin: 10px;
}

section h1 {
    color: hsl(88, 58%, 40%);
    font-family: 'Courgette', serif;
}

figure {
    width: fit-content;
}

section nav {    
    display: flex;
    background-color: hsl(123, 41%, 29%);
    border-radius: 10px;

    width: fit-content;
    height: fit-content;
}

section nav a {
    display: block;

    margin: 10px;
}

section nav a:hover {
    text-decoration: underline;
}

table {
    max-width: calc(86vw - 20px);
}

tr {
    color: hsla(0, 0%, 100%, 95%);
}
tr:nth-child(odd) {
    background-color: hsl(123, 69%, 29%);
}
tr:nth-child(even) {
    background-color: hsl(123, 72%, 21%);
}

th {
    color: hsla(74, 76%, 56%, 95%);
}
th:first-child {
    background-color: rgba(114, 114, 47, 0.5);
}
th, td {
    font-family: arial;

    padding: 10px;
}

img.icone {
    width: 30px;
}

img.icone:hover {
    transform: scale(111%);
}

table img:not(.icone) {
    max-width: 500px;
    max-height: 1000px;
}