/* POLICES */

@font-face {
    font-family: 'Courgette';
    src: url(../../polices/Courgette-Regular.ttf);
}

/* GÉNÉRAL */

html, body {
    background-color: hsl(40, 51%, 82% ) !important;
}

html a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 95%);
}

html a:hover {
    color: hsla(0, 0%, 100%, 95%);
}

.ligne {
    display: flex;
}

.ecartee {
    justify-content: space-between;
}

::selection {
    background-color: hsla(128, 56%, 67%, 50%);
}

.graphique {
    position: relative;
    
    width: 80vw;
    height: 40vh;
}

/* EN-TÊTE */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 33;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: hsl(123, 67%, 20%);
    border-radius: 0 0 7px 7px;

    padding: 10px 7%;
}

header h1 {
    color: hsla(0, 0%, 100%, 95%);
    font-family: 'Courgette', serif;

    margin: 10px;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: hsl(123, 41%, 29%);
    border-radius: 10px;
}

header a {
    display: block;

    color: hsla(73, 47%, 82%, 95%);
    white-space: nowrap;

    margin: 10px;
}

header > a {
    display: flex ;
    align-items: center;
}

header a:hover {
    color: hsla(74, 76%, 56%, 95%);
}

/* SECTIONS */

section {
    padding: 25px 7%;
}

@media screen and (max-width: 868px) {
    section {
        overflow-x: scroll;
    }
}

section > * {
    margin: 10px;
}

section h1 {
    color: hsl(88, 58%, 40%);
    font-family: 'Courgette', serif;
}

figure {
    width: fit-content;
}

section nav {    
    display: flex;
    background-color: hsl(123, 41%, 29%);
    border-radius: 10px;

    width: fit-content;
    height: fit-content;
}

section nav a {
    display: block;

    margin: 10px;
}

section nav a:hover {
    text-decoration: underline;
}

img.icone {
    width: 30px;
}

a:hover img.icone {
    transform: scale(111%);
}

/* TABLEAUX */

table {
    max-width: calc(86vw - 20px);

    margin: 10px 0;
}

tr {
    color: hsla(0, 0%, 100%, 95%);
}
tr:nth-child(odd) {
    background-color: hsl(123, 69%, 29%);
}
tr:nth-child(even) {
    background-color: hsl(123, 72%, 21%);
}

th {
    color: hsla(74, 76%, 56%, 95%);
}
th:first-child {
    background-color: rgba(114, 114, 47, 0.5);
}
th, td {
    font-family: arial;

    padding: 10px;
}
td.lien {
    padding: 0;
}
td:hover {
    outline: 3px solid hsla(78, 76%, 56%, 95%);
}

td.lien a {
    display: block;

    width: 50px;
    height: 50px;

    padding: 10px;
}

table img {
    max-width: 500px;
    max-height: 1000px;
}

/* Formulaires */

form > div.ligne {
    align-items: baseline;
    flex-wrap: wrap;
}

form > div.ligne > *:not(:last-child) {
    margin-right: 20px;
}

form > div.ligne > *:not(button) {
    flex-grow: 1;
}

textarea {
    resize: both !important;
}

input:focus, select:focus, textarea:focus, button:focus {
    box-shadow: 0 0 0 0.25rem hsla(128, 56%, 67%, 0.5) !important;
    border: solid 1px hsl(121, 53%, 55%) !important;
}

input:checked {
    background-color: hsl(123, 67%, 20%) !important;
    border: solid 1px hsl(123, 67%, 20%) !important;
}

button {
    background-color: hsl(88, 58%, 40%) !important;
    border: solid 1px hsl(88, 58%, 40%) !important;
    
    height: min-content;
}

form > a {
    color: hsl(0, 0%, 0%);
}

form > a:hover {
    color: hsl(123, 67%, 20%);
}